
<div class="container md-4  main action-customer">
    <div class="menu">
        <ul class="menu-customer">
            <li class="avatar">
                <img src="https://img.freepik.com/premium-photo/confident-stylish-guy-posing-his-apartments-young-man-glasses-sitting-sofa-looking-camera-male-portrait-concept_2221-8775.jpg" alt="avatar">
            </li>
            <li class="purpose my-info" id="info">
                Hồ sơ của tôi
            </li>
            <li class="purpose dang-xuat">
                <a href="/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <%- include("./ThongtinKH") %>
    </div>
</div>
