
<div class="container md-4  main action-customer">
    <div class="menu">
        <ul class="menu-customer">
            <li class="avatar">
                <img src="/customer/img/img-grid-2.jpg" alt="avatar">
            </li>
            <li class="purpose my-info" id="info">
                Hồ sơ của tôi
            </li>
            <li class="purpose dang-xuat">
                <a href="/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <%- include("./ThongtinKH") %>
    </div>
</div>
