<style>
    * {
        padding: 0;
        margin: 0
    }

    .container.action-customer {
        min-height: 100vh;
        font-family: 'Poppins', sans-serif;
    }

    .main {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .menu {
        background-color: rgb(245, 248, 250);
    }

    .content {}

    .menu-customer {
        list-style: none;
        padding: 0 10px;
    }

    .menu-customer li {
        display: block;
        line-height: 35px;
    }

    .menu-customer li:first-child {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        border-bottom: 1px solid #cac7c7;
    }

    img {
        height: 70px;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }

    .content {
        padding: 0 10px;
    }

    .head-info {
        height: 80px;
        border-bottom: 1px solid #cac7c7;
    }

    .head-info span {
        display: block;
        width: 100%;
        line-height: 50px;
        font-size: 16px;
    }
</style>
<div class="container md-4  main action-customer">
    <div class="menu">
        <ul class="menu-customer">
            <li class="avatar">
                <img src="/customer/img/img-grid-2.jpg" alt="avatar">
            </li>
            <li class="purpose my-info" id="info">
                Hồ sơ của tôi
            </li>
            <li class="purpose dang-xuat">
                <a href="/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
    <div id="content">

    </div>
</div>
