/** @format */
.custom-navbar-cta.navbar-nav li a i {
    font-size: 20px;
}



.custom-social.custom-social li a i {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    background-color: #eee9e9;
}


.trash-product {
    font-size: 300px;
}

.checkout {
    padding: 20px 0;
}


form.card {
    border: none;
}

.input-group-append .btn {
    margin-left: 10px;

}

input.form-control {
    border-radius: 10px;
}


    * {
        padding: 0;
        margin: 0
    }

    .container.action-customer {
        min-height: 100vh;
        font-family: 'Poppins', sans-serif;
    }

    .main {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .menu {
        background-color: rgb(245, 248, 250);
    }

    .content {}

    .menu-customer {
        list-style: none;
        padding: 0 10px;
    }

    .menu-customer li {
        display: block;
        line-height: 35px;
    }

    .menu-customer li:first-child {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        border-bottom: 1px solid #cac7c7;
    }

    .menu-customer .avatar img {
        height: 70px;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }

    .content {
        padding: 0 10px;
    }

    .head-info {
        height: 80px;
        border-bottom: 1px solid #cac7c7;
    }

    .head-info span {
        display: block;
        width: 100%;
        line-height: 50px;
        font-size: 16px;
    }