/** @format */
.custom-navbar-cta.navbar-nav li a i {
    font-size: 20px;
}



.custom-social.custom-social li a i {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    background-color: #eee9e9;
}


.trash-product {
    font-size: 300px;
}

.checkout {
    padding: 20px 0;
}


form.card {
    border: none;
}

.input-group-append .btn {
    margin-left: 10px;

}

input.form-control {
    border-radius: 10px;
}