<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/customer/img/logo.png" type="image/x-icon">
    <title>ERROR</title>
    <style>
        body {
            background-image: url('<%= background %>');
            background-size: 100%;
            background-repeat: no-repeat;
            height: 690px;
            background-color: <%= bgColor %>;
        }
        a {
            display: block;
            text-align: center;
            font-size: 30px;
            text-decoration: none;
            color: <%= color %>;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body id="body">
    <a href="/sale">Nhấn tại đây để về trang chủ</a>
</body>
</html>