p {
    color: red;
}

* {
    padding: 0;
    margin: 0;
}


/* header  */
header {
    height: 60px;
    background-color: yellow;
}

.content {
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

}

.content #search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content #search input {
    border: 1px solid #e05c0b;
    border-right: 0px;
    padding: 8px 10px 8px 5px;
    font-size: 16px;
    width: 50%;
    outline: none;
    border-radius: 3px 0px 0px 3px;
}

.content #search button {
    border: 1px solid #e05c0b;
    border-right: 0px;
    padding: 5px 10px 5px 5px;
    font-size: 15px;
    width: 100px;
    height: 36px;
    background-color: #e05c0b;
    color: white;
}

.content .logo {
    height: 60px;
}

.content .logo img {
    height: 100%;
}

/* end header */