<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/customer/css/infoOrder.css">
    <link rel="stylesheet" href="../../public/customer/css/bootstrap.min.css">
</head>
<body>
    <header class="container" style="height: 80px; background-color: antiquewhite;"></header>
    <div class="container">
        <div class="tinhTrangDonHang">
            tình trạng đơn
        </div>
        <div class="thongTinChiTiet">
            <div class="cacSanPham">
                <div class="sanPham">
                    <div class="anhSP">
                        <img src="../../public/uploads/prod-1.jpg" alt="ảnh sản phẩm">
                    </div>
                    <div class="thongTinSanPham">
                        <div class="ten">
                            tenSP
                        </div>
                        <div class="ThongTinSanPhamCuaDonHang">
                            <div class="g-sl">
                                <div class="gia">
                                    <span>Giá: 1000000</span>
                                </div>
                                <div class="soluong">
                                    <span>Số lượng: 2</span>
                                </div>
                            </div>
                            <div class="tg">
                                <span>Tổng</span>
                                <div class="tongGia">
                                    1000000 VNĐ
                                </div>
                            </div>
                            <div class="cmt">
                                <div class="customer">
                                    abc
                                </div>
                                <div class="admin"> xyz</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="thongTinKhachHang">
                Thông tin khách hàng
            </div>
        </div>
    </div>
    <footer class="container" style="height: 150px;background-color: antiquewhite;"></footer>
    <script src="../../public/customer/scripts/bootstrap.bundle.min.js"></script>
</body>
</html>