<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SHOP ĐT | Đồ án quản lý bán hàng</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/css/fontawesome/css/all.css" rel="stylesheet">
  <!-- Table database boostrap -->
  <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="/css/custom.min.css" rel="stylesheet">
  <!--Page content style-->
  <link rel="stylesheet" href="page.css">

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      {{> sidebar }}
      <!-- top navigation -->
      <div class="container-wraper">
        {{>header }}
        <!-- /top navigation -->
        <!-- page content -->
        {{{ body }}}
        <!-- /page content -->
        <!-- footer content -->
        {{> footer }}
        <!-- /footer content -->
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- swwet arlet2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Datatable -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  <script>
    var qldh_table = $('.qldh').dataTable(
      {
        language: {
          url: '/json/vi.json'
        }, order: [[5, 'desc']],
      }
    );
    $('.qlsp').DataTable(
      {
        language: {
          url: '/json/vi.json'
        },
      }
    );

    function resetQlspModal() {
      $('#addProduct').find('#anh').val('');
      $('#addProduct').find('#ten').val('');
      $('#addProduct').find('#gia').val('');
      $('#addProduct').find('#hang').val('');
      $('#addProduct').find('#loaiSanPham').val('');
      $('#addProduct').find('#mauSac').val('');
      $('#addProduct').find('#soluong').val('');
      $('#addProduct').find('#moTa').val('');
      $('#addProduct').find('#previewImage').attr('src', '').hide();
    }
    $('.add-product').on('click', (function () {
      resetQlspModal();
      $('#addProduct').find('form').attr('action', '/admin/products/add')
      $('#addProduct').find('#modalTopTitle').text("Thêm mới sản phẩm")
      $('#addProduct').modal('show');
    }));
    $('.edit-item').click(function () {
      $('#addProduct').find('#modalTopTitle').text("Cập nhật sản phẩm")

      // Lấy thông tin sản phẩm từ bảng
      var row = $(this).closest('tr');
      var idSP = row.find('td:eq(0)').text(); // ID sản phẩm
      var anh = row.find('td:eq(1) img').attr('src'); // Đường dẫn ảnh
      var ten = row.find('td:eq(2)').text(); // Tên sản phẩm
      var gia = row.find('td:eq(3)').text(); // Giá sản phẩm
      var hang = row.find('td:eq(4)').text(); // Hãng sản phẩm
      var loaiSanPham = row.find('td:eq(5)').text(); // Loại sản phẩm
      var mauSac = row.find('td:eq(6)').text(); // Màu sắc
      var soluong = row.find('td:eq(7)').text(); // Số lượng
      var moTa = row.find('td:eq(8)').text(); // Mô tả sản phẩm

      console.log(gia);

      $('#addProduct').find('form').attr('action', '/admin/products/edit/' + idSP);

      // Đổ thông tin sản phẩm vào modal
      $('#addProduct').find('#ten').val(ten);
      $('#addProduct').find('#gia').val(gia);
      $('#addProduct').find('#hang').val(hang);
      $('#addProduct').find('#loaiSanPham').val(loaiSanPham);
      $('#addProduct').find('#mauSac').val(mauSac);
      $('#addProduct').find('#soluong').val(soluong);
      $('#addProduct').find('#moTa').val(moTa);
      $('#addProduct').find('#previewImage').attr('src', anh).show();

      // Cập nhật ID sản phẩm để biết bạn đang sửa sản phẩm nào
      $('#addProduct').data('idSP', idSP);

      // Hiển thị modal
      $('#addProduct').modal('show');
    });
    $('.delete-item').on('click', function () {
      title = 'Bạn có chắc chắn muốn xóa ';
      var href = $(this).attr('link');
      canhBaoXoaItem(title, href);
    });
    $('.band-item').on('click', function () {
      var status = $(this).attr('status');
      var title = status === "false" ? "Bạn có chắc khóa tài khoản này" : "Bạn có chắc mở khóa tài khoản này";
      var href = $(this).attr('link');
      console.log(href)
      canhBaoBandItem(title, href);
    });

    var prevent = false;
    $(".edit-invoice").click(function (event) {
      event.preventDefault();
      // Lấy hàng cha của nút chỉnh sửa
      $(this).html('<i class="fa-light fa-down-to-bracket"></i>');
      var row = $(this).closest("tr");
      // Kích hoạt tất cả các phần tử select và input trong hàng đó
      row.find("select").prop("disabled", false);
      row.find("input").prop("disabled", false);

      // Lấy giá trị từ các điều khiển trong hàng
      var invoiceId = row.find("a").attr("href").split("/").pop();
      var hinhThucThanhToan = row.find("select[name=hinhThucThanhToan]").val();
      var donViVanChuyen = row.find("input[name=donViVanChuyen]").val();
      var tinhTrangDonHang = row.find("select[name=tinhTrangDonHang]").val();

      // Tạo đối tượng dữ liệu để gửi đi
      var data = {
        hinhThucThanhToan: hinhThucThanhToan,
        donViVanChuyen: donViVanChuyen,
        tinhTrangDonHang: tinhTrangDonHang
      };

      // Thực hiện yêu cầu Ajax để cập nhật đơn hàng
      if (prevent) {
        $.ajax({
          type: "POST",
          url: "/admin/invoices/edit/" + invoiceId,
          data: data,
          success: function (response) {
            window.location.href = window.location.pathname + '?status=success&code=update_invoice';
          },
          error: function (error) {
            window.location.href = window.location.pathname + '?status=failed&code=connect_database';
          }
        });
      }
      prevent = true;
    });
    $('.admins').DataTable({
      columnDefs: [
        {
          targets: [0, 1],
          visible: false,
        }
      ],
      language: {
        url: '/json/vi.json'
      }
    });
    $('.customers').DataTable({
      columnDefs: [
        {
          targets: [0, 1],
          visible: false,
        }
      ],
      language: {
        url: '/json/vi.json'
      }
    });
    function canhBaoXoaItem(title, link) {
      Swal.fire({
        title: title,
        text: "Dữ liệu sẽ bị xóa nếu bạn đồng ý",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Hủy',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = link;
        }
      })
    };
    function canhBaoBandItem(title, link) {
      Swal.fire({
        title: title,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Hủy',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = link;
        }
      })
    }
    setTimeout(function () {
      $('div.info').remove();
    }, 5000);
    if (performance.navigation.type == 1) {
      history.replaceState(null, '', location.href.split('?')[0]);
    }
    const input = $('#anh');
    // Xử lý sự kiện khi trường input file thay đổi
    input.change(function () {
      const file = this.files[0]; // Lấy tệp ảnh được chọn
      if (file) {
        // Đọc tệp ảnh và hiển thị xem trước
        const reader = new FileReader();
        reader.onload = function (e) {
          $('#previewImage').attr('src', e.target.result); // Hiển thị xem trước
          $('#previewImage').show(); // Hiển thị ảnh xem trước
        };
        reader.readAsDataURL(file);
      } else {
        // Nếu không có tệp ảnh được chọn, ẩn ảnh xem trước
        $('#previewImage').attr('src', '').hide();
      }
    });

    $('#endDate').change(function () {
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();
      if (startDate && endDate) {
        if (endDate < startDate) {
          $('#endDate').val(startDate);
        }
      }
    });
  </script>
</body>

</html>