<%- include('./layouts/header.ejs') %>

<link rel="stylesheet" href="css/test.css">
<P id="home">home</P>
    <br>
    <p><%= thanh  %></p>
    
    <% for(var i = 0; i < 5; i++) {%>
        <h1> <%= i %>  </h1>
    <% } %>    
<%- include('./layouts/footer.ejs') %>
<script src="scripts/testjs.js">
    
</script>