<%- include('./layouts/header.ejs') %>

<!-- <link rel="stylesheet" href="css/test.css"> -->
<P id="home">home</P>


<%- include('./layouts/footer.ejs') %>
<script src="scripts/testjs.js">
    
</script>