USE [DACN1_QLBH]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[idAdmin] [varchar](30) NOT NULL,
	[idTK] [varchar](30) NOT NULL,
	[ten] [nvarchar](10) NOT NULL,
	[ho] [nvarchar](20) NOT NULL,
	[sdt] [char](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[idDH] [varchar](20) NOT NULL,
	[idSP] [int] NOT NULL,
	[soSao] [int] NOT NULL,
	[danhGia] [nvarchar](200) NULL,
	[traLoiDG] [nvarchar](200) NULL,
	[ngayChinhSua] [datetime] NOT NULL,
	[lanChinhSua] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id] [varchar](20) NOT NULL,
	[thanhToan] [int] NOT NULL,
	[idKH] [varchar](30) NOT NULL,
	[maVanDon] [varchar](30) NULL,
	[donViVanChuyen] [varchar](50) NULL,
	[tinhTrangDonHang] [int] NULL,
	[ngayTao] [datetime] NOT NULL,
	[ngayHuy] [datetime] NULL,
	[nguoiDuyet] [varchar](30) NULL,
	[soLuongMatHang] [int] NULL,
	[diaChi] [nvarchar](200) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[tenNguoiNhan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[idKH] [varchar](30) NOT NULL,
	[idSP] [int] NOT NULL,
	[soLuong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[id] [int] NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[idSP] [int] IDENTITY(1,1) NOT NULL,
	[anh] [varchar](200) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[gia] [bigint] NOT NULL,
	[hang] [varchar](20) NULL,
	[mauSac] [nvarchar](20) NULL,
	[soluong] [int] NOT NULL,
	[moTa] [nvarchar](100) NULL,
	[ngayCapNhat] [datetime] NOT NULL,
	[ngayXoa] [datetime] NULL,
	[loaiSanPham] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[idTK] [varchar](30) NOT NULL,
	[taiKhoan] [varchar](20) NOT NULL,
	[matKhau] [varchar](30) NOT NULL,
	[capBac] [int] NOT NULL,
	[khoa] [bit] NULL,
	[ngayTao] [datetime] NOT NULL,
	[ngayKhoa] [date] NULL,
	[nguoiKhoa] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangDonHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDonHang](
	[id] [int] NOT NULL,
	[tinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDonHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDonHang](
	[idDH] [varchar](20) NOT NULL,
	[idSP] [int] NOT NULL,
	[gia] [bigint] NOT NULL,
	[soLuong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhachHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhachHang](
	[idKH] [varchar](30) NOT NULL,
	[idTK] [varchar](30) NOT NULL,
	[bietDanh] [varchar](30) NULL,
	[ten] [nvarchar](10) NULL,
	[ho] [nvarchar](20) NULL,
	[diaChi] [nvarchar](100) NULL,
	[email] [varchar](50) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[sdt] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin] ([idAdmin], [idTK], [ten], [ho], [sdt], [email], [ngaySinh], [gioiTinh], [diaChi]) VALUES (N'5cdd6a13-07c1-4717-8c51-def033', N'chientesst', N'chi?n', N'tr?n', N'2323      ', N'ggfhhfgf@gmail.com', CAST(N'2003-01-26' AS Date), 1, N'sadcdsdsdas')
INSERT [dbo].[admin] ([idAdmin], [idTK], [ten], [ho], [sdt], [email], [ngaySinh], [gioiTinh], [diaChi]) VALUES (N'Admin1', N'tk1', N'Chiến', N'Lê Đăng', N'0333757429', N'chienboy03@gmail.com', CAST(N'2003-01-26' AS Date), 1, N'Hải Dương')
GO
INSERT [dbo].[DanhGia] ([idDH], [idSP], [soSao], [danhGia], [traLoiDG], [ngayChinhSua], [lanChinhSua]) VALUES (N'DH1', 2, 3, N'danhGia123', N'Xin lỗi về vấn đề bạn đang gặp phải. Bạn có thể hoàn hàng về cho shop', CAST(N'2023-10-16T18:04:08.797' AS DateTime), 3)
INSERT [dbo].[DanhGia] ([idDH], [idSP], [soSao], [danhGia], [traLoiDG], [ngayChinhSua], [lanChinhSua]) VALUES (N'DH2', 2, 3, N'danhGia123', NULL, CAST(N'2023-10-16T18:07:20.417' AS DateTime), 2)
INSERT [dbo].[DanhGia] ([idDH], [idSP], [soSao], [danhGia], [traLoiDG], [ngayChinhSua], [lanChinhSua]) VALUES (N'DH7', 6, 3, N'danhGia123', NULL, CAST(N'2023-10-16T18:07:00.463' AS DateTime), 3)
GO
INSERT [dbo].[DonHang] ([id], [thanhToan], [idKH], [maVanDon], [donViVanChuyen], [tinhTrangDonHang], [ngayTao], [ngayHuy], [nguoiDuyet], [soLuongMatHang], [diaChi], [sdt], [tenNguoiNhan]) VALUES (N'DH1', 1, N'KH1', N'ma1', N'J&T', 4, CAST(N'2023-10-01T00:00:00.000' AS DateTime), CAST(N'2023-11-10T20:07:00.000' AS DateTime), N'Admin1', 1, N'0', N'0', N'0')
INSERT [dbo].[DonHang] ([id], [thanhToan], [idKH], [maVanDon], [donViVanChuyen], [tinhTrangDonHang], [ngayTao], [ngayHuy], [nguoiDuyet], [soLuongMatHang], [diaChi], [sdt], [tenNguoiNhan]) VALUES (N'DH1697028559027_66', 1, N'KH1', NULL, NULL, 5, CAST(N'2023-10-11T19:49:19.030' AS DateTime), CAST(N'2023-10-13T17:45:17.300' AS DateTime), NULL, 0, N'0', N'0', N'0')
INSERT [dbo].[DonHang] ([id], [thanhToan], [idKH], [maVanDon], [donViVanChuyen], [tinhTrangDonHang], [ngayTao], [ngayHuy], [nguoiDuyet], [soLuongMatHang], [diaChi], [sdt], [tenNguoiNhan]) VALUES (N'DH1697029281487_92', 1, N'KH1', NULL, NULL, 5, CAST(N'2023-10-11T20:01:21.527' AS DateTime), CAST(N'2023-10-13T17:45:14.733' AS DateTime), NULL, 0, N'0', N'0', N'0')
GO
INSERT [dbo].[GioHang] ([idKH], [idSP], [soLuong]) VALUES (N'kh1697357087984_85', 30, 3)
INSERT [dbo].[GioHang] ([idKH], [idSP], [soLuong]) VALUES (N'KH3', 3, 3)
INSERT [dbo].[GioHang] ([idKH], [idSP], [soLuong]) VALUES (N'kh1:59:1_9-10-2023', 1, 21)
GO
INSERT [dbo].[HinhThucThanhToan] ([id], [ten]) VALUES (1, N'Thanh toán khi nhận hàng')
INSERT [dbo].[HinhThucThanhToan] ([id], [ten]) VALUES (2, N'Thanh toán ngân hàng')
INSERT [dbo].[HinhThucThanhToan] ([id], [ten]) VALUES (3, N'Thanh toán momo')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([idSP], [anh], [ten], [gia], [hang], [mauSac], [soluong], [moTa], [ngayCapNhat], [ngayXoa], [loaiSanPham]) VALUES (1, N'1696867465662-IMG_20230314_135658.jpg', N'sua sp1', 1, N'', N'đen', -18, N'mo ta sp1', CAST(N'2023-10-09T23:04:25.797' AS DateTime), NULL, N'')
INSERT [dbo].[SanPham] ([idSP], [anh], [ten], [gia], [hang], [mauSac], [soluong], [moTa], [ngayCapNhat], [ngayXoa], [loaiSanPham]) VALUES (2, N'1697901257590-IMG_20230314_142224.jpg', N'SP2', 5555, N'toshiba', N'tr?ng', -24, N'mo ta', CAST(N'2023-10-21T22:14:17.617' AS DateTime), NULL, N'n?i cơm')
INSERT [dbo].[SanPham] ([idSP], [anh], [ten], [gia], [hang], [mauSac], [soluong], [moTa], [ngayCapNhat], [ngayXoa], [loaiSanPham]) VALUES (3, N'prod-1.jpg', N'SP3', 2, NULL, N'trắng', -8, N'mo ta', CAST(N'2023-09-30T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([idTK], [taiKhoan], [matKhau], [capBac], [khoa], [ngayTao], [ngayKhoa], [nguoiKhoa]) VALUES (N'59a6c37a-1e3b-4876-9775-ffced2', N'chientesst', N'123', 1, 0, CAST(N'2023-10-21T21:20:14.680' AS DateTime), NULL, NULL)
INSERT [dbo].[TaiKhoan] ([idTK], [taiKhoan], [matKhau], [capBac], [khoa], [ngayTao], [ngayKhoa], [nguoiKhoa]) VALUES (N'AM6', N'tk6', N'1', 1, 0, CAST(N'2023-10-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TaiKhoan] ([idTK], [taiKhoan], [matKhau], [capBac], [khoa], [ngayTao], [ngayKhoa], [nguoiKhoa]) VALUES (N'KH1', N'tk1', N'1', 5, 0, CAST(N'2023-10-01T00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TinhTrangDonHang] ([id], [tinhTrang]) VALUES (1, N'đang chuẩn bị hàng')
INSERT [dbo].[TinhTrangDonHang] ([id], [tinhTrang]) VALUES (2, N'đã giao cho đơn vị vận chuyển')
INSERT [dbo].[TinhTrangDonHang] ([id], [tinhTrang]) VALUES (3, N'đang giao hàng')
GO
INSERT [dbo].[ThongTinDonHang] ([idDH], [idSP], [gia], [soLuong]) VALUES (N'DH1', 2, 1, 1)
INSERT [dbo].[ThongTinDonHang] ([idDH], [idSP], [gia], [soLuong]) VALUES (N'DH2', 2, 1, 1)
INSERT [dbo].[ThongTinDonHang] ([idDH], [idSP], [gia], [soLuong]) VALUES (N'DH3', 3, 1, 1)
GO
INSERT [dbo].[ThongTinKhachHang] ([idKH], [idTK], [bietDanh], [ten], [ho], [diaChi], [email], [ngaySinh], [gioiTinh], [sdt]) VALUES (N'KH1', N'KH1', N'so', N'th', N't', N'hải', N'Chienboy03@gmail.com', CAST(N'2003-03-18' AS Date), 0, N'a')
INSERT [dbo].[ThongTinKhachHang] ([idKH], [idTK], [bietDanh], [ten], [ho], [diaChi], [email], [ngaySinh], [gioiTinh], [sdt]) VALUES (N'kh1:59:1_9-10-2023', N'tk1:59:1_9-10-2023', NULL, NULL, NULL, NULL, N'Chienboy03@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[ThongTinKhachHang] ([idKH], [idTK], [bietDanh], [ten], [ho], [diaChi], [email], [ngaySinh], [gioiTinh], [sdt]) VALUES (N'kh1697033663846_47', N'tk1697033663846_47', N'', N'', N'dsadasdsad', N'sadasdsadsda', N'fsdfds@gmail.com', CAST(N'1900-01-01' AS Date), 1, N'dsadsadsa')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admin__9DB8286FFEA0F0F2]    Script Date: 22/10/2023 12:44:35 am ******/
ALTER TABLE [dbo].[admin] ADD UNIQUE NONCLUSTERED 
(
	[idTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__B4C45318A8F7976F]    Script Date: 22/10/2023 12:44:35 am ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThongTin__9DB8286F4F9DE7E0]    Script Date: 22/10/2023 12:44:35 am ******/
ALTER TABLE [dbo].[ThongTinKhachHang] ADD UNIQUE NONCLUSTERED 
(
	[idTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT ((1)) FOR [lanChinhSua]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [khoa]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([idDH])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([idSP])
REFERENCES [dbo].[SanPham] ([idSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([idKH])
REFERENCES [dbo].[ThongTinKhachHang] ([idKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([nguoiDuyet])
REFERENCES [dbo].[admin] ([idAdmin])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([tinhTrangDonHang])
REFERENCES [dbo].[TinhTrangDonHang] ([id])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([thanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([id])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([idKH])
REFERENCES [dbo].[ThongTinKhachHang] ([idKH])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([idSP])
REFERENCES [dbo].[SanPham] ([idSP])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([nguoiKhoa])
REFERENCES [dbo].[admin] ([idAdmin])
GO
ALTER TABLE [dbo].[ThongTinDonHang]  WITH CHECK ADD FOREIGN KEY([idDH])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[ThongTinDonHang]  WITH CHECK ADD FOREIGN KEY([idSP])
REFERENCES [dbo].[SanPham] ([idSP])
GO
ALTER TABLE [dbo].[ThongTinKhachHang]  WITH CHECK ADD FOREIGN KEY([idTK])
REFERENCES [dbo].[TaiKhoan] ([idTK])
GO
/****** Object:  StoredProcedure [dbo].[GetInfoOrder]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetInfoOrder](
	@idKh varchar(30),
	@idDH varchar(20)
) as
begin
	DECLARE @count int;
	select @count = count(*) from DonHang where id = @idDH and idKH = @idKh;
	if(@count != 1) 
	begin
		return 100;
	end

	
	select ThongTinDonHang.idDH, SanPham.ten as tenSP, ThongTinDonHang.idSP, ThongTinDonHang.gia*ThongTinDonHang.soLuong as giaSP,
	ThongTinDonHang.soLuong, SanPham.anh
	from ThongTinDonHang 
	join SanPham on ThongTinDonHang.idSP = SanPham.idSP
	where ThongTinDonHang.idDH = @idDH
	order by idSP;

	select HinhThucThanhToan.ten as hinhThucThanhToan, maVanDon, donViVanChuyen,
	tinhTrangDonHang, ngayTao, ngayHuy, soLuongMatHang, diaChi, sdt, tenNguoiNhan as nguoiNhan 
	from DonHang
	join HinhThucThanhToan on DonHang.thanhToan = HinhThucThanhToan.id
	where DonHang.id = @idDH and idKH = @idKh;

	select danhGia.danhGia, danhGia.traLoiDG, soSao, danhGia.idSP from DanhGia 
	where idDH = @idDH
	order by idSP;
end
GO
/****** Object:  StoredProcedure [dbo].[getOrder]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getOrder]
@idkh VARCHAR(30)
AS
BEGIN
    -- Tạo bảng tạm
    CREATE TABLE #infoOrder (
        idDH varchar(20),
		maVanDon varchar(30),
		donViVanChuyen varchar(50),
		statusDH int,
		tinhTrang nvarchar(50),
		ngayTao datetime
    );

	
	 -- Thực hiện các thao tác khác trên bảng tạm ở đây
	insert into #infoOrder 
	select DISTINCT 
	DonHang.id as idDH, maVanDon, DonHang.donViVanChuyen,
	tinhTrangDonHang as statusDH, TinhTrangDonHang.tinhTrang, ngayTao as [ngayTao]
	from DonHang 
	left join ThongTinDonHang 
	on DonHang.id = ThongTinDonHang.idDH
	left join TinhTrangDonHang 
	on DonHang.tinhTrangDonHang = TinhTrangDonHang.id
	 where DonHang.idKH = @idkh

   
	-- Tạo bảng tạm
    CREATE TABLE #moreInfoOrder (
        idDH varchar(20),
		gia bigint,
		soLuong int
    );
	-- -- Thực hiện các thao tác khác trên bảng tạm ở đây
	insert into #moreInfoOrder
	select idDH, sum(gia*soLuong) as gia, count(soLuong) as soLuong
	from ThongTinDonHang
	left join DonHang on DonHang.id = ThongTinDonHang.idDH
	where idKH = @idkh
	Group by idDH

	select #infoOrder.idDH, maVanDon, donViVanChuyen, statusDH, tinhTrang, ngayTao, gia, soLuong from #infoOrder
	left join #moreInfoOrder on #infoOrder.idDH = #moreInfoOrder.idDH
	--select * from #moreInfoOrder
    -- Xóa bảng tạm khi bạn đã sử dụng xong
    DROP TABLE #infoOrder;
    DROP TABLE #moreInfoOrder;

END;

GO
/****** Object:  StoredProcedure [dbo].[ThanhToanDonHang]    Script Date: 22/10/2023 12:44:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ThanhToanDonHang](
	@idKH varchar(30),
	@idDH varchar(20),
	@ten nvarchar(50),
	@diachi nvarchar(100),
	@sdt varchar(10),
	@thanhToan int
)
as
begin
	--select @idKH, @idDH, @thanhToan
	--return 1;
	-- lấy ra số lượng mặt hàng
	DECLARE @RecordCount INT;
	DECLARE @count int = 0;
	DECLARE @idSP int;
	select @RecordCount = count(*) from GioHang where idKH = @idKH;
	if (@RecordCount = 0) 
	begin
		return 0;
	end;
	-- thêm bản ghi vào đơn hàng
	insert into DonHang(id, tenNguoiNhan, sdt, diaChi, thanhToan, idKH, maVanDon, donViVanChuyen, tinhTrangDonHang, ngayTao, ngayHuy, nguoiDuyet, soLuongMatHang) values(@idDH,@ten, @sdt, @diachi, @thanhToan, @idKH, null, null, 6, GetDate(), null, null, @RecordCount);
	


	--thêm bản ghi vào thông tin đơn hàng
	
	insert into ThongTinDonHang (idDH, idSP, soLuong, gia)
	select @idDH as idDH, GioHang.idSP, GioHang.soLuong, SanPham.gia
	from GioHang
	join SanPham on SanPham.idSP = GioHang.idSP
	where idKH = @idKH 
	order by GioHang.idSP
	--xoá giỏ hàng
	delete GioHang where idKH = @idKH
	--cập nhật số lượng sản phẩm
	create table #sanpham(
		idSP int,
		soLuong int,
		soLuongCu int
	)

	-- lấy chi tiết đơn hàng gán vào bảng tạm sanpham
	insert into #sanpham select ThongTinDonHang.idSP, ThongTinDonHang.soLuong, SanPham.soluong as soLuongCu 
	from ThongTinDonHang 
	join SanPham on SanPham.idSP = ThongTinDonHang.idSP
	where idDH = @idDH 

	while @count < @RecordCount
	begin
		select @idSP = idSP from #sanpham ORDER BY idSP OFFSET @count ROWS FETCH NEXT 1 ROWS ONLY
		
		--cập nhật số lượng
		update SanPham set soluong = (select soLuongCu - soLuong from #sanpham where idSP = @idSP) where idSP = @idSP;
		SET @count = @count + 1;
	end 

	return 1;
end;
GO
